#app {
  max-width: 50%;
  height: 500px;
  background: #d6dace;
  color: #000;
  margin: 0 auto;
  border-radius: 16px;
}
.h {
  font-size: 30px;
  text-align: center;
  width: 100%;
  height: 60px;
  background: #a0ad86;
  border-radius: 16px 16px 0 0;
}
